

.swiper{
    width: 100%;
    height: 15rem;
}
.swiper-wrapper{
    display: flex;
}
.swiper-slide{
    width: 18rem;
    /* height: 14rem; */
    background-color: aliceblue;
}
.swiper-button-prev{
    opacity: 0.1;
}
.swiper-button-prev:hover{
    opacity: 1;
}
.swiper-button-next{
    opacity: 0.1;
}
.swiper-button-next:hover{
    opacity: 1;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }